body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    
}
.header{
    display: flex;
    padding: 50px;
}

.color{
    font-size: 40px;
    color:orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(219, 56, 27));;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.half1{
   border-left-width: 10px;
    border-left: 5px solid tomato;
    margin-top: 5px;
    padding-left: 20px;
}
.half2 img{
    width: 100%;
    margin-left: 50%;
    margin-bottom: 50%;
    
}
.mission-item{
    display: flex;
    width: 100%;
    justify-content: normal;
    align-items: center;
}
.color1{
    font-size: 40px;
    color:orange;
}

.mission{
   text-align: center;
   box-sizing: border-box;
   background-color: thistle;
   width: 100%;
   display: block;
   padding: 10px 20px;
   margin: 10px 20px;

}
.Vission{
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(207, 216, 191);
    width: 100%;
    padding: 10px 20px;
    margin: 10px 20px;
}
.Goals{
    text-align: center;
    box-sizing: border-box;
    background-color: tomato;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 20px;
}
.heading2{
    text-align: center;
}
.back{
  display: flex;
  width: 100%;  
}
.back img{
    width: 80%;
    padding-right: 50px;
}
.back2{
    display: flex;
    width: 100%;  
  }
  
  .back2 img{
      width: 80%;
      padding-right: 50px;
  }
  .fot{
      background-color: lightslategrey;
  }
  .df{
      text-align: center;
  }
  footer p{
    text-align: center;
}

